/*  General */

.portaltype-organizationalunit #subarea_of label {
    margin-right: 10px;
}

.portaltype-organizationalunit #area_manager {
    float: left;
    margin-right: 10px;
}

.portaltype-organizationalunit .section {
    border-bottom: 3px solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 20px 0 10px;
}

/* Subareas */

.portaltype-organizationalunit #subareas {
    margin: 10px 0 30px;
}

.portaltype-organizationalunit #subareas li {
    outline: 1px solid #ccc;
    display: inline-block;
    height: 44px;
    margin: 10px 20px 0 0;
    padding-top: 20px;
    text-align: center;
    width: 128px;
}

.portaltype-organizationalunit #subareas a:hover {
    border-color: #000;
    color: #205C90 !important;
}

/* Employees table */

.portaltype-organizationalunit #employee-table {
    margin-top: 15px;
}

.portaltype-organizationalunit #employee-table td {
    padding: 0 20px 20px 0;
    width: 128px;
}

.portaltype-organizationalunit #employee-table td img {
    display: block;
}

.portaltype-organizationalunit #employee-table td a {
    margin: auto;
}

